.fixed-width {
  width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
pre {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.ml-2 {
  margin-left: 20px;
}

.mr-8 {
  margin-right: 80px;
}

.center {
  text-align: center;
}

.center-items {
  display: block;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.floater {
  width: 50%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

/* CTA BUTTONS */
.access-btn {
  height: 50px;
  width: 260px;
  border: 0;
  border-radius: 100px;
  font-size: 18px;
}

.git-access {
  background-color: #fb6900;
  font-weight: 700;
}

.git-access:hover {
  background-color: #d65222;
}

.fa-github {
  padding-right: 10px;
}

.other-access {
  background-color: #fb690000;
  border: 2px solid #fb6900;
  color: #ffffff;
}

.other-access:hover {
  background-color: #fb6900;
}
/* end CTA buttons */

/* FONT FAMILIES */

button, 
.nav-link, 
.language-btn, 
.tech-p, 
.case-p, 
.dev-p, 
#footer-container, 
.sample-btn, 
.sample-info  {
  font-family: 'Open Sans', sans-serif;
}

#splash-h1, 
#splash-h2, 
#splash-p, 
.body-h1, 
.tech-h2, 
.tech-h3, 
.tech-h4, 
.case-h2, 
.case-plus, 
.dev-h2 {
  font-family: 'Raleway', sans-serif;
}

.hljs {
  font-family: 'Ubuntu Mono', monospace;
}

/* end FONT FAMILIES */

/* FONT COLORS */

.nav-link a, 
.splash, 
.case-p {
  color: #ffffff;
}

.tech-h2, 
.tech-h4, 
.tech-p, 
.tech-btn, 
.dev-h2, 
.dev-p, 
.sample-info, 
.other-access:hover {
  color: #343838;
}

.body-h1, 
.tech-h3, 
.case-h2, 
.copyright, 
.footer-link a {
  color: #00b4cc;
}

.git-access {
  color: #282b2b;
}

/* end FONT COLORS */