a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.ml-2 {
  margin-left: 20px;
}

.mr-8 {
  margin-right: 80px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.floater {
  width: 50%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.center {
  display: block;
  margin: 0 auto;
}

.center-items {
  text-align: center;
}

button {
  font-family: 'Open Sans', sans-serif;
}

.access-btn {
  height: 50px;
  width: 260px;
  border: 0;
  border-radius: 100px;
  font-size: 18px;
}

.git-access {
  background-color: #fb6900;
  color: #282b2b;
  font-weight: 700;
}

.git-access:hover {
  background-color: #d65222;
}

.other-access {
  background-color: #fb690000;
  border: 2px solid #FB6900;
  color: #ffffff;
}

.other-access:hover {
  background-color: #FB6900;
  color: #000000;
}
