.App {
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #151e1e;
  padding: 1.25rem 3rem;
  height: 3.5rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.nav-link {
  display: inline;
  padding: 2.25rem;
  font-size: 0.9rem;
}

.nav-link a {
  color: #fff;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.footer {
  background-color: #343838;
  padding: 2rem 4rem;
  border-top: 0.75rem solid #008C9E;
  height: 18rem;
}

.copyright {
  margin-top: 0.5rem;
  margin-left: 0.4rem;
  font-size: 0.85rem;
  color: #00b4cc;
}

.footer-links {
  margin: 0 4rem 0 0;
  display: flex;
  flex-direction: column;
}

.footer-link {
  margin-bottom: 1.5rem;
}

.footer-link a {
  color: #00b4cc;
  font-weight: 300;
}