.body-section {
  padding: 70px 0;
}

#core-tech, 
#developers {
  background-color: #f0f0f0;
}

#use-cases {
  background-color: #343838;
}

.body-h1 {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  margin-bottom: 75px;
}

.whitepaper-access {
  background-color: #fb690000;
  border: 2px solid #fb6900;
}

.whitepaper-access:hover {
  background-color: #fb6900;
  cursor: pointer;
}