.body-section {
  padding: 70px 0;
}

#core-tech, #developers {
  background-color: #f0f0f0;
}

#use-cases {
  background-color: #343838;
}

.body-h1 {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  margin-bottom: 75px;
}

.tech-h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 50px;
}

.tech-h3 {
  font-weight: 400;
  font-size: 28px;
}

.tech-h4 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}

.tech {
  margin-bottom: 90px;
  display: flex;
  align-items: center;
}

.tech-blurb {
  width: 450px;
}

.tech-hr {
  display: block;
  width: 120px;
  height: 1px;
  border: 0;
  border-top: 2px solid #00b4cc;
  margin: 10px 0;
  padding: 0;
}

.tech-p {
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
}

.case-item-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.case-item {
  width: 30%;
  padding: 0 5px;
  margin-right: 20px; 
  margin-bottom: 40px;
}

.case-h2 {
  font-weight: 400;
  font-size: 22px;
}

.case-plus {
  font-weight: 300;
  font-size: 28px;
  color: #fb6900;
  padding-right: 5px;
  line-height: 0px;
}

.case-p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-left: 15px;
}

.dev-container {
  margin-bottom: 50px;
}

.dev-item {
  padding-left: 30px;
}

.dev-h2 {
  font-weight: 600;
  font-size: 20px;
}

.dev-p {
  font-weight: 300;
  font-size: 16px;
  margin: 10px 0;
  padding-right: 60px;
  line-height: 28px;
}

.dev-access {
  margin-top: 40px;
  margin-bottom: 10px;
}