footer {
  background-color: #343838;
  border-top: 10px solid #008C9E;
}

#footer-container {
  padding: 30px 150px 80px 70px;
}

.copyright {
  margin-top: 5px;
  margin-left: 8px;
  font-size: 12px;
}

.footer-link-container {
  margin: 0 4rem 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 150px;
}

.footer-link {
  margin-bottom: 20px;
  padding-right: 60px;
}

.footer-link a {
  font-weight: 300;
  font-size: 16px;
}