header {
  background: linear-gradient(to bottom, rgba(16, 27, 27, 1), rgba(51, 55, 55, 1));
}

.navbar {
  padding: 1.25rem 3rem;
}

.nav-link {
  display: inline;
  padding: 2.25rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.nav-link a, .splash {
  color: #ffffff;
}

.splash {
  padding: 90px 0 130px 0;
}

#splash-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 10px;
}

#splash-h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 42px;
  padding-right: 100px;
}

#splash-p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 100px 0 10px 0;
}