header {
  background: linear-gradient(to bottom, rgba(16, 27, 27, 1), rgba(51, 55, 55, 1));
}

#navbar {
  padding: 20px 50px;
}

.nav-link {
  display: inline;
  font-size: 14px;
  padding: 40px;
}

.language-btn {
  font-size: 12px;
  padding: 5px;
  margin: 0 5px; 
  background-color: #fff;
  border-radius: 2px;
}

.splash {
  padding: 90px 0 130px 0;
}

.splash-text {
  height: 192px;
}

#splash-h1 {
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 10px;
}

#splash-h2 {
  font-size: 28px;
  font-weight: 300;
  line-height: 42px;
  padding-right: 100px;
}

#splash-p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 100px 0 10px 0;
}