#code-container {
  background-color: #292c34;
  margin: 0 auto;
  padding: 30px;
  border: 2.5px solid #a1a1a1;
  border-radius: 3px;
  height: 346px;
  width: 746px;
}

.sample-btn {
  display: inline-block;
  width: 140px;
  font-size: 16px;
  line-height: 19px;
  padding: 15px;
  border: 0;
  background-color: #f0f0f0;
  border-bottom: 2px solid #FB6900;
}

.sample-btn:hover {
  cursor: pointer;
}

.active {
  border-top: 2px solid #FB6900;
  border-left: 2px solid #FB6900;
  border-right: 2px solid #FB6900;
  border-bottom: none;
}

.sample-info {
  width: 400px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 16px;
  padding: 20px 0;
  line-height: 28px;
}

.sample-p {
  line-height: 20px;
  margin-bottom: 20px;
}