#code-box {
  background-color: #292c34;
  margin: 0 auto;
  padding: 30px;
  border: 2.5px solid #a1a1a1;
  border-radius: 3px;
  height: 346px;
  width: 746px;
}

.sample-font {
  font-family: 'Ubuntu Mono', monospace;
  color: #abb2bf;
}

.sample-btn {
  display: inline;
  font-family: "Open Sans", sans serif;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 20px;
  margin: 0 5px;
  border: 0;
  background-color: #f0f0f0;
}

.sample-info {
  font-family: "Open Sans", sans serif;
  font-weight: 300;
  font-size: 16px;
  color: #343838;
  margin: 20px 0;
  line-height: 28px;
}

.sample-p {
  line-height: 20px;
  margin-bottom: 20px;
}

.green {
  color: #97c277;
}